<div *ngIf='news !== undefined' id="articles-list">
  <table id='news-table'>
    <caption>
      <div id="news-status">status: {{news.status}}</div>
      <div id="news-results">total results: {{news.totalResults}}</div>
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="categories" required (change)="onChangeCategory($event.target.value)">
          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
      </div>
      <div id="news-page">page: {{page}}</div>
      <button (click)="deincreasePageNumber()">prev</button>
      <button (click)="increasePageNumber()">next</button>
    </caption>
    <tr>
      <td>Author</td>
      <td>Title</td>
      <td>Description</td>
      <td>URL</td>
    </tr>
    <tr *ngFor="let article of news.articles">
      <td>{{ article.author }}</td>
      <td>{{ article.title }}</td>
      <td>{{ article.description}}</td>
      <td>
        <a href='{{ article.url }}'>link</a>
      </td>
    </tr>
  </table>
</div>