#news-table {
    border-collapse: collapse;
    width: 100%;
}

#news-table td {
    border: 1px solid rgb(158, 145, 145);
    padding: 6px;
}

#news-table tr:nth-child(even){background-color: #f1f1f1;}

#news-table tr:hover {background-color: #f1f1f1;}

#news-table caption div {
    float: left;
    width: 20%;
}
